.pf-form-shadow {
  box-shadow: 0 0 90px -40 rgba(0, 0, 0, 0.4);
}

.pf-editor-paragraph {
  margin: 0 !important;
  position: relative !important;
}

.pf-editor-paragraph:last-child {
  margin-bottom: 0 !important;
}

/* this is for styling the HtmlBody component */
.pf-htmlbody {
  @apply block text-sm font-normal leading-6;
  /* need to use !important because in packages/ui/components/editor/stylesEditorFrontend.css the color is defined for some classes */
  color: var(--fb-subheading-color) !important;
}